Flask==2.3.2
Flask-SQLAlchemy==3.0.3
Flask-Migrate==4.0.4
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-WTF==1.1.1
SQLAlchemy==2.0.36
Werkzeug==2.3.3
Jinja2==3.1.4
itsdangerous==2.2.0
python-dotenv==1.0.0
requests==2.32.3
WTForms==3.2.1